{
  "extends": [
    "oclif",
    "oclif-typescript",
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "import"
  ],
  "rules": {
    "node/no-missing-import": "off",
    "node/no-missing-require": "off",
    "node/shebang": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "import/no-unresolved": "error",
    "camelcase": ["error", {"properties": "never"}]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true,
        "project": "tsconfig.json"
      }
    }
  }
}
